
* {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h3,
h5,
h6 {
    font-family: "Bebas Neue", sans-serif;
}
button:hover {
    border: 1px solid #000;
    opacity: 0.9;
    transition: all 0.3s ease-in-out; 
}
